@{
    ViewData["Title"] = "Privacy Policy";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">    
        <li class="breadcrumb-item active" aria-current="page">Privacy</li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<p>Ask when buying...</p>
