@model ServiceViewModel

@{
    ViewData["Title"] = "Add Service";
}

 <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
         <li class="breadcrumb-item" aria-current="page">
            <a asp-controller="Services" asp-action="Index">Services</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
</nav>

<h3 class="mt-4 mb-4">Add Service</h3>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
        <label asp-for="VehicleId" class="control-label">Registration No.</label>      
        <select asp-for="VehicleId" class="form-control" asp-items="@Model.Vehicles"))">
            <option>Select Vehicle</option>
        </select>
        <span asp-validation-for="VehicleId" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="form-group col">
            <label asp-for="ServiceName" class="control-label">Mechanic Name</label>
            <input asp-for="ServiceName" class="form-control"/>
            <span asp-validation-for="ServiceName" class="text-danger"></span>
        </div>
   
        <div class="form-group col">
            <label asp-for="DateOfService" class="control-label" >Date of Service (dd/mm/yyyy)</label>
            <input asp-for="DateOfService" class="form-control" placeholder="DD/MM/YYYY" id="txtDate" type="text"/>
            <span asp-validation-for="DateOfService" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
      <div class="form-group col">
        <label asp-for="Mileage" class="control-label">Mileage</label>
        <input asp-for="Mileage" class="form-control"/>
        <span asp-validation-for="Mileage" class="text-danger"></span>
      </div>

      <div class="form-group col">
        <label asp-for="ServiceCost" class="control-label">Service Cost</label>
        <input asp-for="ServiceCost" class="form-control"/>
        <span asp-validation-for="ServiceCost" class="text-danger"></span>
      </div>
    </div>

     <div class="form-group">
        <label asp-for="WorkDone" class="control-label">Service Details</label>      
        <textarea rows="5" asp-for="WorkDone" class="form-control"></textarea>
        <span asp-validation-for="WorkDone" class="text-danger"></span>
    </div>

      <div class="form-group">
        <input type="submit" value="Add Service" class="btn btn-primary"/>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>

</form>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

